In [136]:
import pandas as pd
import numpy as np

In [137]:
df = pd.read_csv("sales_data.csv",index_col=0)

In [138]:
df["brand"] = df["brand"].apply(lambda x: x[:-1])

In [139]:
df.head()

,sku,product_line,brand,sales,price
SKU_ID,,,,,
1,Samsung Stereo Headset Wird EO-EG920BWEG,Phones Mobile Accessories,SAMSUNG,1,1359.0
2,HITACHI REF SBS RM-700AGPND4X-(DIA),Refrigerators,HITACHI,1,184408.0
3,SIEMENS DISHWASHER SN26L801IN,Dishwashers,SIEMENS,1,34425.0
4,Super General S/AC 1.5T SGSI185-3BE 3S,Air Conditioners,Super General,1,29750.0
5,Apple 12W USB Power Adapter,Tablets & Detachables,APPLE,1,1700.0

In [140]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2015 entries, 1 to 2015
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sku           2015 non-null   object
 1   product_line  2015 non-null   object
 2   brand         2015 non-null   object
 3   sales         2015 non-null   int64
 4   price         2015 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.5+ KB

(None, (2015, 5))

In [141]:
df = df.astype({"sku":"string","product_line":"string","brand":"string"})

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2015 entries, 1 to 2015
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sku           2015 non-null   string
 1   product_line  2015 non-null   string
 2   brand         2015 non-null   string
 3   sales         2015 non-null   int64
 4   price         2015 non-null   float64
dtypes: float64(1), int64(1), string(3)
memory usage: 94.5 KB

In [143]:
df["product_line"].unique()

<StringArray>
[    'Phones Mobile Accessories',                 'Refrigerators',
                   'Dishwashers',              'Air Conditioners',
         'Tablets & Detachables',               'Gaming Software',
              'Mobile Computing',            'Kitchen Appliances',
                   'MP3 Players',                 'Input Devices',
          'Earphones/Headphones',               'Home Appliances',
              'Washing Machines',               'Water Purifiers',
                    'Microwaves',            'Travel Accessories',
                  'Phones Fixed',       'Smart Phones (OS Based)',
                 'Computer Bags',                  'Shop in Shop',
        'Health & Personal Care',                  'Home Theatre',
                 'Phones Mobile',         'Lifestyle & Wearables',
               'Digital Cameras',                      'Security',
                        'TV LCD',                   'Peripherals',
                 'Storage Media',   'Printers & Office Solutions',
               'Gaming Hardware',           'Imaging Accessories',
                      'Speakers',                'PC Accessories',
       'Phones Mobile Providers',                      'Cookware',
                          'Fans',     'Entertainment Accessories',
                      'Desktops',               'DVD/VCD/Content',
                          'Toys',                    'Networking',
 'Dummy Laptop / Netbook / Tabs',  'Cooling & Heating Appliances',
               'Ovens & Cookers',                         'Power',
                  'Air Purifier',  'Connected Homes & Housewares',
                 'Audio Systems',                      'Software',
                    'Camcorders',                 'Other Charges',
       'Phone Brand Attachments',                       'ECharge',
                        'Dryers',                       'Simcard',
               'MP3 Accessories']
Length: 57, dtype: string

In [144]:
import re

replacement = {
    re.compile(r"&|/"):" ",
    re.compile(r"( )+"):" ",
    re.compile(r"\(|\)"):"",
    re.compile(r"(^ )|( $)"):""
}

df["product_line_clean"] = df["product_line"].str.lower().replace(replacement,regex=True)

In [145]:
df["product_line_clean"].unique()

<StringArray>
[ 'phones mobile accessories',              'refrigerators',
                'dishwashers',           'air conditioners',
        'tablets detachables',            'gaming software',
           'mobile computing',         'kitchen appliances',
                'mp3 players',              'input devices',
       'earphones headphones',            'home appliances',
           'washing machines',            'water purifiers',
                 'microwaves',         'travel accessories',
               'phones fixed',      'smart phones os based',
              'computer bags',               'shop in shop',
       'health personal care',               'home theatre',
              'phones mobile',        'lifestyle wearables',
            'digital cameras',                   'security',
                     'tv lcd',                'peripherals',
              'storage media',  'printers office solutions',
            'gaming hardware',        'imaging accessories',
                   'speakers',             'pc accessories',
    'phones mobile providers',                   'cookware',
                       'fans',  'entertainment accessories',
                   'desktops',            'dvd vcd content',
                       'toys',                 'networking',
  'dummy laptop netbook tabs', 'cooling heating appliances',
              'ovens cookers',                      'power',
               'air purifier', 'connected homes housewares',
              'audio systems',                   'software',
                 'camcorders',              'other charges',
    'phone brand attachments',                    'echarge',
                     'dryers',                    'simcard',
            'mp3 accessories']
Length: 57, dtype: string

In [272]:
a = df["brand"].unique()
arr = []

for x in a:
    if len(x.strip().split(" ")) > 1:
        arr.append(x)
print(arr)

['Super General', 'Ultimate Ears', 'TRAVEL BLUE', 'Cyber Power', 'ALTEC LANSING', 'EDU SCIENCE', 'BOOK MY SHOW', 'NO SPEC', 'GO PRO', 'FUSE CHICKEN', 'AQUA SURE']

In [147]:
df["brand_lower"] = df["brand"].str.lower()

In [148]:
df.to_parquet("./sales_data.parquet")

In [214]:
def text_to_set(txt,replace=set()):
    if not replace:
        replace = replacement
    for key,val in replace.items():
        txt = re.sub(key,val,txt)
        
    return set(txt.lower().split(" "))

In [172]:
replacement = {
        re.compile(r"&|/|\\"):" ",
        re.compile(r"( )+"):" ",
        re.compile(r"\(|\)|(^ )|( $)"):"",
    }

In [173]:
text_to_set(r" Adnan Shaikh \\/  ",replacement)

{'adnan', 'shaikh'}

In [233]:
def exact_match(df,cat,bow):
    ind = df[cat].isin(bow)
    
    if ind.any():
        return df[ind]
    
    return df

In [251]:
txt_set = text_to_set(" ref",replacement)

temp =exact_match(df,"brand_lower",txt_set)
temp.head()

,sku,product_line,brand,sales,price,product_line_clean,brand_lower
SKU_ID,,,,,,,
1,Samsung Stereo Headset Wird EO-EG920BWEG,Phones Mobile Accessories,SAMSUNG,1,1359.0,phones mobile accessories,samsung
2,HITACHI REF SBS RM-700AGPND4X-(DIA),Refrigerators,HITACHI,1,184408.0,refrigerators,hitachi
3,SIEMENS DISHWASHER SN26L801IN,Dishwashers,SIEMENS,1,34425.0,dishwashers,siemens
4,Super General S/AC 1.5T SGSI185-3BE 3S,Air Conditioners,Super General,1,29750.0,air conditioners,super general
5,Apple 12W USB Power Adapter,Tablets & Detachables,APPLE,1,1700.0,tablets detachables,apple

In [232]:
def partial_match(df,cat,txt_set):
    
    def match_each(set1,set2):
        for word1 in set1:
            for word2 in set2:
                if word2.startswith(word1):
                    return True
        return False
        
    ind = df[cat].apply(lambda x: match_each(txt_set,text_to_set(x,replacement)))
    if ind.any():
        return df[ind]
    return df

In [238]:
temp =partial_match(temp,"product_line_clean",txt_set)
temp

,sku,product_line,brand,sales,price,product_line_clean,brand_lower
SKU_ID,,,,,,,
2,HITACHI REF SBS RM-700AGPND4X-(DIA),Refrigerators,HITACHI,1,184408.00000,refrigerators,hitachi
17,Samsung Ref SBS 591L RS554NRUA,Refrigerators,SAMSUNG,1,79815.00000,refrigerators,samsung
28,SAMSUNG REF SBS 604L RS55K5010SL/TL SS,Refrigerators,SAMSUNG,1,72250.00000,refrigerators,samsung
78,SAMSUNG REF DC 192L RR20M282ZR2/NL 3S,Refrigerators,SAMSUNG,2,16500.00000,refrigerators,samsung
98,Croma Ref DC 225L CRAR0213- RA 2*,Refrigerators,CROMA,1,13990.00000,refrigerators,croma
...,...,...,...,...,...,...,...
1907,WHIRLPOOL REF FF 265L SP278 PRM WM 3S,Refrigerators,WHIRLPOOL,2,22100.00000,refrigerators,whirlpool
1926,SAMSUNG REF SBS 654L RH62K6007S8/TL,Refrigerators,SAMSUNG,3,94369.00000,refrigerators,samsung
1934,WHIRLPOOL REF DC 200L 215IMPWCOOLROY3S M,Refrigerators,WHIRLPOOL,13,16183.69231,refrigerators,whirlpool
1959,SAMSUNG REF FF 551L RT56K6378SL/TL 3S,Refrigerators,SAMSUNG,5,61370.00000,refrigerators,samsung
1988,Super General RefDC 47L SGRI-035HS,Refrigerators,Super General,1,7191.00000,refrigerators,super general

In [240]:
def over_lap(df,cat,txt_set):
    
    return df[df[cat].apply(lambda x: False if len(txt_set.difference(text_to_set(x.lower()))) > 1 else True)]

In [241]:
temp = over_lap(temp,"sku",txt_set)

,sku,product_line,brand,sales,price,product_line_clean,brand_lower
SKU_ID,,,,,,,
2,HITACHI REF SBS RM-700AGPND4X-(DIA),Refrigerators,HITACHI,1,184408.00000,refrigerators,hitachi
17,Samsung Ref SBS 591L RS554NRUA,Refrigerators,SAMSUNG,1,79815.00000,refrigerators,samsung
28,SAMSUNG REF SBS 604L RS55K5010SL/TL SS,Refrigerators,SAMSUNG,1,72250.00000,refrigerators,samsung
78,SAMSUNG REF DC 192L RR20M282ZR2/NL 3S,Refrigerators,SAMSUNG,2,16500.00000,refrigerators,samsung
98,Croma Ref DC 225L CRAR0213- RA 2*,Refrigerators,CROMA,1,13990.00000,refrigerators,croma
...,...,...,...,...,...,...,...
1907,WHIRLPOOL REF FF 265L SP278 PRM WM 3S,Refrigerators,WHIRLPOOL,2,22100.00000,refrigerators,whirlpool
1926,SAMSUNG REF SBS 654L RH62K6007S8/TL,Refrigerators,SAMSUNG,3,94369.00000,refrigerators,samsung
1934,WHIRLPOOL REF DC 200L 215IMPWCOOLROY3S M,Refrigerators,WHIRLPOOL,13,16183.69231,refrigerators,whirlpool
1959,SAMSUNG REF FF 551L RT56K6378SL/TL 3S,Refrigerators,SAMSUNG,5,61370.00000,refrigerators,samsung
1988,Super General RefDC 47L SGRI-035HS,Refrigerators,Super General,1,7191.00000,refrigerators,super general

In [244]:
type(re.compile(""))

re.Pattern

In [250]:
if pd.DataFrame().empty:
    print(True)

True

In [275]:
pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading python_Levenshtein-0.20.9-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.20.9
  Downloading Levenshtein-0.20.9-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (175 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 175.5/175.5 kB 2.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.13.7-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 1.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.20.9 python-Levenshtein-0.20.9 rapidfuzz-2.13.7
Note: you may need to restart the kernel to use updated packages.

In [277]:
from Levenshtein import ratio

In [282]:
for cat in df["product_line_clean"].unique():
    print(f"category:{cat} ratio: {ratio("Samsung ref","refigerator")})

SyntaxError: f-string: unmatched '(' (2018926951.py, line 2)