In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("sales_data.csv",index_col=0)

In [18]:
df["brand"] = df["brand"].apply(lambda x: x[:-1])

In [19]:
df.head()

,sku,product_line,brand,sales,price
SKU_ID,,,,,
1,Samsung Stereo Headset Wird EO-EG920BWEG,Phones Mobile Accessories,SAMSUNG,1,1359.0
2,HITACHI REF SBS RM-700AGPND4X-(DIA),Refrigerators,HITACHI,1,184408.0
3,SIEMENS DISHWASHER SN26L801IN,Dishwashers,SIEMENS,1,34425.0
4,Super General S/AC 1.5T SGSI185-3BE 3S,Air Conditioners,Super General,1,29750.0
5,Apple 12W USB Power Adapter,Tablets & Detachables,APPLE,1,1700.0

In [20]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2015 entries, 1 to 2015
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sku           2015 non-null   object
 1   product_line  2015 non-null   object
 2   brand         2015 non-null   object
 3   sales         2015 non-null   int64
 4   price         2015 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.5+ KB

(None, (2015, 5))

In [21]:
df = df.astype({"sku":"string","product_line":"string","brand":"string"})

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2015 entries, 1 to 2015
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sku           2015 non-null   string
 1   product_line  2015 non-null   string
 2   brand         2015 non-null   string
 3   sales         2015 non-null   int64
 4   price         2015 non-null   float64
dtypes: float64(1), int64(1), string(3)
memory usage: 94.5 KB

In [23]:
df["product_line"].unique()

<StringArray>
[    'Phones Mobile Accessories',                 'Refrigerators',
                   'Dishwashers',              'Air Conditioners',
         'Tablets & Detachables',               'Gaming Software',
              'Mobile Computing',            'Kitchen Appliances',
                   'MP3 Players',                 'Input Devices',
          'Earphones/Headphones',               'Home Appliances',
              'Washing Machines',               'Water Purifiers',
                    'Microwaves',            'Travel Accessories',
                  'Phones Fixed',       'Smart Phones (OS Based)',
                 'Computer Bags',                  'Shop in Shop',
        'Health & Personal Care',                  'Home Theatre',
                 'Phones Mobile',         'Lifestyle & Wearables',
               'Digital Cameras',                      'Security',
                        'TV LCD',                   'Peripherals',
                 'Storage Media',   'Printers & Office Solutions',
               'Gaming Hardware',           'Imaging Accessories',
                      'Speakers',                'PC Accessories',
       'Phones Mobile Providers',                      'Cookware',
                          'Fans',     'Entertainment Accessories',
                      'Desktops',               'DVD/VCD/Content',
                          'Toys',                    'Networking',
 'Dummy Laptop / Netbook / Tabs',  'Cooling & Heating Appliances',
               'Ovens & Cookers',                         'Power',
                  'Air Purifier',  'Connected Homes & Housewares',
                 'Audio Systems',                      'Software',
                    'Camcorders',                 'Other Charges',
       'Phone Brand Attachments',                       'ECharge',
                        'Dryers',                       'Simcard',
               'MP3 Accessories']
Length: 57, dtype: string

In [59]:
import re
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer


lemma = WordNetLemmatizer()
replacement = {
    re.compile(r"&|/"):" ",
    re.compile(r"( )+"):" ",
    re.compile(r"\(|\)"):"",
    re.compile(r"(^ )|( $)"):""
}

df["product_line_clean"] = df["product_line"].str.lower().replace(
    regex=replacement
    ).apply(
    lambda x: (" ".join(lemma.lemmatize(word) for word in x.split(" ")))
    )

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\adnan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [60]:
categories = df["product_line_clean"].unique()
categories

array(['phone mobile accessory', 'refrigerator', 'dishwasher',
       'air conditioner', 'tablet detachables', 'gaming software',
       'mobile computing', 'kitchen appliance', 'mp3 player',
       'input device', 'earphone headphone', 'home appliance',
       'washing machine', 'water purifier', 'microwave',
       'travel accessory', 'phone fixed', 'smart phone o based',
       'computer bag', 'shop in shop', 'health personal care',
       'home theatre', 'phone mobile', 'lifestyle wearable',
       'digital camera', 'security', 'tv lcd', 'peripheral',
       'storage medium', 'printer office solution', 'gaming hardware',
       'imaging accessory', 'speaker', 'pc accessory',
       'phone mobile provider', 'cookware', 'fan',
       'entertainment accessory', 'desktop', 'dvd vcd content', 'toy',
       'networking', 'dummy laptop netbook tab',
       'cooling heating appliance', 'oven cooker', 'power',
       'air purifier', 'connected home housewares', 'audio system',
       'software', 'camcorder', 'other charge', 'phone brand attachment',
       'echarge', 'dryer', 'simcard', 'mp3 accessory'], dtype=object)

In [26]:
df["brand_lower"] = df["brand"].str.lower()

brand_names = df["brand_lower"].unique()

['Super General', 'Ultimate Ears', 'TRAVEL BLUE', 'Cyber Power', 'ALTEC LANSING', 'EDU SCIENCE', 'BOOK MY SHOW', 'NO SPEC', 'GO PRO', 'FUSE CHICKEN', 'AQUA SURE']

In [28]:
def text_to_set(txt,replace=set()):
    if not replace:
        replace = replacement
    for key,val in replace.items():
        txt = re.sub(key,val,txt)
        
    return set(txt.lower().split(" "))

In [29]:
replacement = {
        re.compile(r"&|/|\\"):" ",
        re.compile(r"( )+"):" ",
        re.compile(r"\(|\)|(^ )|( $)"):"",
    }

In [ ]:
def over_lap(df,cat,txt_set):
    
    return df[df[cat].apply(lambda x: False if len(txt_set.difference(text_to_set(x.lower()))) > 1 else True)]

In [ ]:
temp = over_lap(temp,"sku",txt_set)
temp

In [140]:
from Levenshtein import ratio,distance

def max_win_score(cats,txt_ls):
    txt_n = len(txt_ls)
    cat_scores = {cat:0 for cat in cats}
    for cat in cats:
        cat_ls = cat.split(" ")
        n = len(cat_ls)

        for i in range(txt_n):
            temp = " ".join(txt_ls[i:i+n])
            cat_scores[cat] = max(cat_scores[cat],ratio(cat.lower(),temp.lower()))
            
    print(max(cat_scores.items(),key= lambda x:x[1]))
    return max(cat_scores.items(),key= lambda x:x[1])
            

def exact_match(df,cat,txt):
    txt_ls = txt.lower().split(" ")
    ind = df[cat].isin(txt_ls)
    
    if ind.any():
        return df[ind]
    
    tp = max_win_score(df[cat].unique(),txt_ls)
    
    return df.loc[df[cat]==tp[0]] if tp[1]>=0.5 else df

In [151]:
res = exact_match(df,"brand_lower","samsungs Galaxy J7 mobile phone")

('samsung', 0.9333333333333333)

In [152]:
res

,sku,product_line,brand,sales,price,product_line_clean,brand_lower
SKU_ID,,,,,,,
1,Samsung Stereo Headset Wird EO-EG920BWEG,Phones Mobile Accessories,SAMSUNG,1,1359.0,phone mobile accessory,samsung
17,Samsung Ref SBS 591L RS554NRUA,Refrigerators,SAMSUNG,1,79815.0,refrigerator,samsung
20,Samsung Wash/Dry 8/6K-WD80J6410,Washing Machines,SAMSUNG,6,54485.0,washing machine,samsung
27,SAMSUNG W/M TL 6KG WA60M4300HD/TL SLV,Washing Machines,SAMSUNG,15,14990.0,washing machine,samsung
28,SAMSUNG REF SBS 604L RS55K5010SL/TL SS,Refrigerators,SAMSUNG,1,72250.0,refrigerator,samsung
...,...,...,...,...,...,...,...
1959,SAMSUNG REF FF 551L RT56K6378SL/TL 3S,Refrigerators,SAMSUNG,5,61370.0,refrigerator,samsung
1983,Samsung A520F Black 2017,Smart Phones (OS Based),SAMSUNG,6,26900.0,smart phone o based,samsung
1991,Samsung LED 140cm 55K5570,TV LCD,SAMSUNG,1,84700.0,tv lcd,samsung
2002,Samsung Galaxy S7 Edge 32GB Gold,Smart Phones (OS Based),SAMSUNG,2,42900.0,smart phone o based,samsung
2012,SAMSUNG LED 124cm 49M6300,TV LCD,SAMSUNG,1,73015.0,tv lcd,samsung